<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Quick.OwinMVC.Test Demo</title>
    #parse("Quick.OwinMVC.Test:part_head_content")
</head>
<body>
    <div id="body-wrapper">
        #parse("Quick.OwinMVC.Test:part_systembar")
        #parse("Quick.OwinMVC.Test:part_sidebar")
        <div id="main-content">
            <div class="content-box">
                <!-- Start Content Box -->
                <div class="content-box-header">
                    <h3>监控项目状态统计</h3>
                    <ul class="content-box-tabs"></ul>
                    <div class="clear"></div>
                </div>
                <!-- End .content-box-header -->
                <div class="content-box-content">
                    <div class="tab-content default-tab" id="tab1">
                        <p id="page-intro">
                            <div style="width: 600px;height: 300px;">
                                <div id="chartPdiv" style="float:left; width: 100%;height: 100%; text-align:center;"></div>
                            </div>
                            <div style="width:100%;text-align:center">
                                <table>
                                    <thead>
                                    </thead>
                                    <th style="width:30%;"></th>
                                    <th></th>
                                    </thead>
                                    <tbody></tbody>

                                </table>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <!-- End .clear -->
            <div class="content-box">
                <!-- Start Content Box -->
                <div class="content-box-header">
                    <h3>故障历史</h3>
                    <ul class="content-box-tabs">
                        <a href="Warning/FaultHistoryList.html">所有故障</a>
                    </ul>
                    <div class="clear"></div>
                </div>
                <!-- End .content-box-header -->
                <div class="content-box-content">
                    <div class="tab-content default-tab" id="tab1">
                        <!-- This is the target div. id must match the href of this div's tab -->
                        <table>
                            <thead>
                                <tr>
                                    <th>监控项目</th>
                                    <th>开始时间</th>
                                    <th>恢复时间</th>
                                    <th>故障持续时间</th>
                                    <th>故障原因</th>
                                </tr>
                            </thead>
                            <tbody></tbody>

                        </table>
                    </div>
                    <!-- End #tab1 -->
                    <!-- End #tab2 -->
                </div>
            </div>
            <div class="clear"></div>
            #parse("Quick.OwinMVC.Test:part_footer")
        </div>
    </div>
</body>
</html>