<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Quick.OwinMVC.Test Demo</title>
    #*
    <script type="text/javascript" src="../Resource/scripts/jquery-1.3.2.min.js"></script>
    *#
    #parse("Quick.OwinMVC.Test:part_head_content")
    <script type="text/javascript" src="../Resource/scripts/charts.function.js"></script>
    <script type="text/javascript" language="javascript">
        window.onload = function () {

            var ramPieCharts_Data = [{}];
            var ramPieCharts_LastUsedRamM = 0;
            var ramPieCharts = createPieCharts({
                divName: "divMemoryChart",
                dataProvider: ramPieCharts_Data,
                balloonText: "[[title]]:[[value]]M ([[percents]]%)",
                radius: 100
            })

            var cpuSerialCharts_Data = [{}];
            var cpuSerialCharts_TitleList = ["使用率"];
            //#MACRO_Serial_Charts("cpuSerialCharts" "divCpuChart" "cpuSerialCharts_Data" "cpuSerialCharts_TitleList")
            var refrashDataFunc = function () {
                //刷新基本信息数据
                jQuery.ajax({
                    dataType: "json",
                    url: "../api/performance?type=info",
                    success: function (json) {
                        jQuery("#tdOSName").html(json.os_name);
                        jQuery("#tdComputerName").html(json.computer_name);
                        jQuery("#tdProcessRunTime").html(json.process_run_time);
                    }
                });

                //刷新内存饼图数据
                jQuery.ajax({
                    dataType: "json",
                    url: "../api/performance?type=memory",
                    success: function (json) {
                        var usedRamM = Math.round(json.used / 1024 / 1024);
                        //仅当已使用内存的数据变化时，才更新饼图
                        if (usedRamM != ramPieCharts_LastUsedRamM) {
                            ramPieCharts_LastUsedRamM = usedRamM;
                            var freeRamM = Math.round(json.free / 1024 / 1024);
                            ramPieCharts_Data.splice(0, ramPieCharts_Data.length
                            , { title: "剩余内存", value: freeRamM }
                            , { title: "已使用内存", value: usedRamM });
                            ramPieCharts.validateData();
                        }
                    }
                });

                /*
                //刷新CPU折线图
                jQuery.ajax({
                    dataType: "json",
                    url: "../api/performance?type=cpu",
                    success: function (json) {
                        cpuSerialCharts_Data.push(json);
                        cpuSerialCharts.validateData();
                    }
                });
                */

                //5秒后再次执行
                setTimeout(refrashDataFunc, 1000);
            }
            refrashDataFunc();
        }
    </script>
</head>
<body>
    <div id="body-wrapper">
        #parse("Quick.OwinMVC.Test:part_systembar")
        #parse("Quick.OwinMVC.Test:part_sidebar")
        <div id="main-content">
            <div class="content-box">
                <!-- Start Content Box -->
                <div class="content-box-header">
                    <h3>基本信息</h3>
                    <ul class="content-box-tabs"></ul>
                    <div class="clear"></div>
                </div>
                <!-- End .content-box-header -->
                <div class="content-box-content">
                    <div class="tab-content default-tab" id="tab1">
                        <p id="page-intro">
                            <div>
                                <table>
                                    <thead>
                                        <tr>
                                            <td></td>
                                            <td style="font-weight:700">静态数据(HTML输出)</td>
                                            <td style="font-weight:700">动态数据(AJAX刷新)</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="font-weight:700">计算机：</td>
                                            <td>${computerInfo.computer_name}</td>
                                            <td id="tdComputerName"></td>                                            
                                        </tr>
                                        <tr>
                                            <td style="font-weight:700">操作系统：</td>
                                            <td>${computerInfo.os_name}</td>
                                            <td id="tdOSName"></td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight:700">进程运行时长：</td>
                                            <td>${computerInfo.process_run_time}</td>
                                            <td id="tdProcessRunTime"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <!-- End .clear -->
            <div class="content-box">
                <!-- Start Content Box -->
                <div class="content-box-header">
                    <h3>性能信息</h3>
                    <ul class="content-box-tabs"></ul>
                    <div class="clear"></div>
                </div>
                <!-- End .content-box-header -->
                <div class="content-box-content">
                    <div class="tab-content default-tab" id="tab1">
                        <p id="page-intro">
                            <div style="width: 300px;height: 300px;">
                                <div id="divMemoryChart" style="float:left; width: 100%;height: 100%; text-align:center;"></div>
                            </div>
                            <div style="width: 300px;height: 300px;">
                                <div id="divCpuChart" style="float:left; width: 100%;height: 100%; text-align:center;"></div>
                            </div>
                        </p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <!-- End .clear -->
            #parse("Quick.OwinMVC.Test:part_footer")
        </div>
    </div>
</body>
</html></script>