<!-- Start #sidebar -->
<div id="sidebar">
    <div id="sidebar-wrapper">
        <h1 id="sidebar-title"><a href="#">Simpla Admin</a></h1>
        <!-- Logo (221px wide) -->
        <img src="../Resource/images/logo.png" alt="Simpla Admin logo" width="221" height="124" id="logo" />
        <!-- Sidebar Profile links -->
        <div id="profile-links">
            &#27426;&#36814;&#29992;&#25143; <a href="#" title="编辑个人资料">null</a> <br />
        </div>
        <ul id="main-nav">
            <li><a href="index" class="nav-top-item no-submenu">概述</a></li>
            <li>
                <a href="#" class="nav-top-item">性能监控 </a>
                <ul>
                    <li><a href="PerformanceMonitor/index">常规状态</a></li>
                    <li><a href="PerformanceMonitor/CpuList">CPU</a></li>
                    <li><a href="PerformanceMonitor/RamList">内存</a></li>
                    <li><a href="PerformanceMonitor/FixDiskList">磁盘空间使用率</a></li>
                    <li><a href="PerformanceMonitor/ProcessCountList">系统进程数</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="nav-top-item"> 站点监控 </a>
                <ul>
                    <li><a href="SiteMonitor/index.html">综合情况</a></li>
                    <li><a href="SiteMonitor/LastStateList.html">最后状态</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="nav-top-item"> 告警 </a>
                <ul>
                    <li><a href="Warning/NoticeList.html">告警通知</a></li>
                    <li><a href="Warning/WaringList.html">性能监控告警消息</a></li>
                    <li><a href="Warning/FaultHistoryList.html">站点监控故障历史</a></li>
                    <li><a href="Warning/Setting.html">告警设置</a></li>
                </ul>
            </li>
            <li>
                <a href="#" class="nav-top-item no-submenu"> 报告 </a>
            </li>
            <li>
                <a href="#" class="nav-top-item"> 服务 </a>
                <ul>
                    <li><a href="Security Assessment.html">监控节点</a></li>
                    <li><a href="Security Assessment set.html">Windows特色功能</a></li>
                    <li><a href="Security Assessment set.html">Linux特色功能</a></li>
                    <li><a href="Security Assessment set.html">网络设备</a></li>
                    <li><a href="Security Assessment set.html">网络拓扑图生成</a></li>
                </ul>
            </li>
        </ul>
        <!-- End #main-nav -->
    </div>
</div>
<!-- End #sidebar -->