<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../resource/css/reset.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../resource/css/style.css" type="text/css" media="screen" />
<link rel="stylesheet" href="../resource/css/invalid.css" type="text/css" media="screen" />
<!-- jQuery -->
<script type="text/javascript" src="../resource/scripts/jquery.min.js"></script>
<!-- jQuery Configuration -->
<script type="text/javascript" src="../resource/scripts/simpla.jquery.configuration.js"></script>
<!-- jQuery WYSIWYG Plugin -->
<script type="text/javascript" src="../resource/scripts/jquery.wysiwyg.js"></script>
<script type="text/javascript" language="javascript">
        <!-- 提交表单函数 -->
        function __submitForm(formId) {
            document.getElementById(formId).submit();
        }
</script>