#* 
饼图宏
----------------------------------
    chartName:chart对象变量名称
    divName:要写入到的DIV标签名称
    dataMap:数据Map
    balloonText:气泡文本内容
    radius:半径(默认为自动计算半径)
*#

#macro( MACRO_Pie_Charts $chartName $divName $dataMap $balloonText $radius $colors)

    #if ( !$dataMap )
    #set ( $dataMap = "[]" )
    #end

    #if ( !$balloonText )
    #set ( $balloonText = '" [[title]] [[percents]]%"' )
    #end

    #if( !$radius )
    #set ( $radius = "" )
    #end

    #if( !$colors )
    #set ( $colors = '[" #28AB17", "#FFCC00"]' )
    #end
    //加载饼图
    var ${chartName} = new AmCharts.AmPieChart();
    ${chartName}.dataProvider = $dataMap;
    ${chartName}.titleField = "title";
    ${chartName}.valueField = "value";
    ${chartName}.colors = ${colors};
    ${chartName}.startDuration = 0;
    ${chartName}.labelsEnabled = false;
    ${chartName}.balloonText = ${balloonText};
    #if(${radius}!="")
        ${chartName}.radius = ${radius};
    #end
    ${chartName}Legend = new AmCharts.AmLegend();
    ${chartName}Legend.align = "center";
    ${chartName}Legend.markerType = "square";
    ${chartName}Legend.switchable = false;

    ${chartName}.addLegend(${chartName}Legend);
    ${chartName}.write("${divName}");
#end

