<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div id="body-wrapper">
        <#include ="/common/systemBar.ftl">
            <#include ="/common/sideBar.ftl">
                <div id="main-content">
                    <div class="content-box">
                        <!-- Start Content Box -->
                        <div class="content-box-header">
                            <h3>监控项目状态统计</h3>
                            <ul class="content-box-tabs"></ul>
                            <div class="clear"></div>
                        </div>
                        <!-- End .content-box-header -->
                        <div class="content-box-content">
                            <div class="tab-content default-tab" id="tab1">
                                <p id="page-intro">
                                    <div style="width: 600px;height: 300px;">
                                        <div id="chartPdiv" style="float:left; width: 100%;height: 100%; text-align:center;"></div>
                                    </div>
                                    <div style="width:100%;text-align:center">
                                        <table>
                                            <thead>
                                            </thead>
                                            <th style="width:30%;"></th>
                                            <th></th>
                                            </thead>
                                            <tbody>
                                                <#if (WarningNowEntityList?size=(WarningNowEntityList?size>
                                                    0)>
                                                    <#list WarningNowEntityList=WarningNowEntityList as=as list=list>
                                                        <#if list??=list??>
                                                            <tr>
                                                                <td><a href="PerformanceMonitor/ProjectDetail.html?projectId=${list.projectId}"><img src="file/images/led/led_yellow.png" />${list.name}(${list.ipAddress})</a></td>
                                                                <td>${list.message}</td>
                                                            </tr>
                                                        </#if>
                                                    </#list>
                                                </#if>
                                                <#if (SiteMonitorNowWarningList?size=(SiteMonitorNowWarningList?size>
                                                    0)>
                                                    <#list SiteMonitorNowWarningList=SiteMonitorNowWarningList as=as list=list>
                                                        <#if list??=list??>
                                                            <tr>
                                                                <td><a href="SiteMonitor/ProjectDetail.html?projectId=${list.projectId}"><img src="file/images/led/led_red.png" />${list.name}</a></td>
                                                                <td>${list.message}</td>
                                                            </tr>
                                                        </#if>
                                                    </#list>
                                                </#if>
                                            </tbody>

                                        </table>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                    <!-- End .clear -->
                    <div class="content-box">
                        <!-- Start Content Box -->
                        <div class="content-box-header">
                            <h3>故障历史</h3>
                            <ul class="content-box-tabs">
                                <a href="${contextPath}/Warning/FaultHistoryList.html">所有故障</a>
                            </ul>
                            <div class="clear"></div>
                        </div>
                        <!-- End .content-box-header -->
                        <div class="content-box-content">
                            <div class="tab-content default-tab" id="tab1">
                                <!-- This is the target div. id must match the href of this div's tab -->
                                <table>
                                    <thead>
                                        <tr>
                                            <th>监控项目</th>
                                            <th>开始时间</th>
                                            <th>恢复时间</th>
                                            <th>故障持续时间</th>
                                            <th>故障原因</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <#list recordList=recordList as=as list=list>
                                            <tr>
                                                <td>${list.projectId.siteMonitorProjectInfo.name}</td>
                                                <td>${list.startTime?string("yyyy-MM-dd HH:mm:ss")}</td>
                                                <td><#if list.endTime??=list.endTime??>${list.endTime?string("yyyy-MM-dd HH:mm:ss")}<#else><font color="red">尚未恢复</font></#else></#if></td>
                                                <td>${list.faultLastTime}</td>
                                                <td>${list.faultReason}</td>
                                            </tr>
                                        </#list>
                                    </tbody>

                                </table>
                            </div>
                            <!-- End #tab1 -->
                            <!-- End #tab2 -->
                        </div>
                    </div>
                    <div class="clear"></div>
                    <#include ="/common/footer.ftl"> </#include>
                </div>
            </#include>
        </#include>
    </div>
</body>
</html>