<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>服务器监控系统</title>
    #*
    <script type="text/javascript" src="../../resource/scripts/jquery.min.js"></script>
    <script type="text/javascript" src="../../resource/scripts/jquery.msgbox.min.js"></script>
    *#
    #parse("ServerManage:part_head_content")
    <script type="text/javascript" language="javascript">
        var submit_modify_password = function () {
            var pre_password = jQuery("#pre_password").val();
            var new_password = jQuery("#new_password").val();
            var new_password_2 = jQuery("#new_password_2").val();

            if (pre_password == "") {
                jQuery.alert("请输入原密码！", function () {
                    jQuery("#pre_password").focus();
                })
                return;
            }
            if (new_password == "") {
                jQuery.alert("请输入新密码！", function () {
                    jQuery("#new_password").focus();
                });
                return;
            }
            if (new_password != new_password_2) {
                jQuery.alert("两次输入的新密码不一致！", function () {
                    jQuery("#new_password_2").focus();
                    jQuery("#new_password_2").select();
                });
                return;
            }
            $("#btnOK").attr('disabled', 'disabled');
            jQuery.post("../api/svn?action=modify_password",
                {
                    pre_password: pre_password,
                    new_password: new_password
                }, function (result) {
                    if (result == null) {
                        jQuery.alert("网络错误！");
                    } else {
                        jQuery.alert(result.msg);
                    }
                    $("#btnOK").removeAttr('disabled');
                }).error(function (obj, textStatus, ex) { 
                    jQuery.alert("网络错误！" + ex);
                    $("#btnOK").removeAttr('disabled');
                });
        }
    </script>
</head>
<body>
    <div id="body-wrapper">
        #parse("ServerManage:part_systembar")
        #parse("ServerManage:part_sidebar")
        <div id="main-content">
            <div class="content-box">
                <!-- Start Content Box -->
                <div class="content-box-header">
                    <h3>SVN密码修改</h3>
                    <ul class="content-box-tabs"></ul>
                    <div class="clear"></div>
                </div>
                <!-- End .content-box-header -->
                <div class="content-box-content">
                    <div class="tab-content default-tab" id="tab1">
                        <div id="page-intro">
                            <div>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td style="font-weight:700">账号：</td>
                                            <td><p>$account</p></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight:700">原密码：</td>
                                            <td><input type="password" id="pre_password" /></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight:700">新密码：</td>
                                            <td><input type="password" id="new_password" /></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td style="font-weight:700">重复新密码：</td>
                                            <td><input type="password" id="new_password_2" /></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td><button id="btnOK" type="button" onclick="submit_modify_password()">确定</button></td>
                                            <td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <!-- End .clear -->
            #parse("ServerManage:part_footer")
        </div>
    </div>
</body>
</html>